project/project/target/
project/target/
target/
wasp-app/.cache
.classpath
wasp-consumers/.project
wasp-consumers/bin/
wasp-consumers/tmp
wasp-producers/.cache
wasp-producers/.project
wasp-producers/bin/
wasp-core/.cache
wasp-core/.project
wasp-core/bin/
wasp-examples/.cache
wasp-examples/.project
wasp-examples/bin/
wasp-test/tmp
.DS_store
diagrams/component.dia
wasp-core/.settings/org.scala-ide.sdt.core.prefs
wasp-examples/.settings/org.scala-ide.sdt.core.prefs
/hyperic-sigar-1.6.4.zip
.idea/
wasp-app/app.iml
wasp-clients/clients.iml
wasp-core/core.iml
.settings/org.scala-ide.sdt.core.prefs
wasp-app/.settings/org.scala-ide.sdt.core.prefs
wasp-clients/.settings/org.scala-ide.sdt.core.prefs
*.sbt~
/bin/
wasp-test/.cache
wasp-test/.project
wasp-test/.settings/org.scala-ide.sdt.core.prefs
.idea_modules/
wasp-app/tmp/
*.gitignore~
*.iml
*.orig
wasp-producers/.settings/org.scala-ide.sdt.core.prefs
wasp-consumers/.settings/org.scala-ide.sdt.core.prefs
wasp-clients/.project
wasp-app/.project
.sbtserver/connections/play-fork-run-20a41abe-7c45-45c6-a40d-57c4875ddca5.log.01
.sbtserver/connections/play-fork-run-20a41abe-7c45-45c6-a40d-57c4875ddca5.log
.sbtserver/connections/master.log
.sbtserver/previous.log
.sbtserver/master.log
wasp-clients/.gitignore
wasp-app/.gitignore
.sbtserver/
/docker/conf/
/docker/data
logs/application.log
*.eml
.project
tmp/
docker/kafka/
.cache
.metadata/
wasp-consumers/.cache-main
wasp-core/.cache-main
wasp-producers/.cache-main
wasp-consumers/.cache-tests
kibana-4.0.2 WASP/
wasp-producers/.settings/org.eclipse.ltk.core.refactoring.prefs
/.cache-tests
*.cache-main
spark-lib/managed/*
spark-lib.list
